{% extends "site.twig" %}

{% block content %}

{% if view == "FORM" %}
  <form class="form-horizontal" action="checkinPallet.php" method="POST">

    <div class="form-group">
      <label for="recipeID" class="control-label col-md-2">Pallet Type:</label>

      <div class="col-md-4">
        <select name="recipeID" class="form-control" required>
          <option value=""></option>

          {% for recipe in recipes %}
          <option value="{{ recipe.id }}">{{ recipe.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <input name="checkin" type="submit" value="Check In Pallet" />
      </div>
    </div>
  </form>

{% elseif view == "CHECKED_IN" %}
  <p class="alert alert-success">
    The pallet was successfully checked into the deep freezer.
    <a href="checkinPallet.php">Go Back</a>
  </p>

{% elseif view == "CHECKIN_FAILED" %}
  <p class="alert alert-error">The pallet could not be created because not enough materials exist.</p>

{% endif %}

{% endblock %}