{% extends "site.twig" %}

{% block content %}

{% if view == "FORM" %}
  <form class="form-horizontal" action="checkoutPallet.php" method="POST">

    <div class="form-group">
      <label for="palletID" class="control-label col-md-2">Pallet:</label>

      <div class="col-md-4">
        <select name="palletID" class="form-control" required>
          <option value=""></option>

          {% for pallet in pallets %}
          <option value="{{ pallet.id }}">{{ pallet.recipe.name }} | {{ pallet.producedOn }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <input name="checkout" type="submit" value="Check Out Pallet" />
      </div>
    </div>
  </form>

{% elseif view == "CHECKED_OUT" %}
  <p class="alert alert-success">
    The pallet was successfully checked out of the deepfreezer.
    <a href="checkoutPallet.php">Go Back</a>
  </p>

{% endif %}

{% endblock %}